<template>
    <div>
        <b-card class="mt-1"
                v-for="connection in connections" v-bind:key="connection.uuid">
            <template #header>
                    <h6>{{ connection.label }}</h6>
            </template>
            <b-card-body>
                <h6>From</h6>
                <CCOMEntityCard :selected="selected" @selectUUID="select" :entity="getEntityFromUUID(connection.from)"></CCOMEntityCard>

                <h6>To</h6>
                <CCOMEntityCard :selected="selected" @selectUUID="select" :entity="getEntityFromUUID(connection.to)"></CCOMEntityCard>
            </b-card-body>
        </b-card>
    </div>
</template>

<script>
import CCOMEntityCard from "./CCOMEntityCard.vue";
export default {
    name: "CCOMConnectionList",
    components: {CCOMEntityCard},
    props: {
        connections: {

        },
        nodes: {

        },
        selected: {}
    },
    data() {
        return {
            entities: new Map()
        }
    },
    methods: {
        getEntityFromUUID(uuid) {
            return this.entities.get(uuid);
        },
        buildNodesMap() {
            this.entities = new Map();
            this.nodes.forEach((entity) => {
                this.entities.set(entity.id, entity.entity);
            });
        },
        select(selectUUID) {
            this.$emit('selectUUID', selectUUID);
        }
    },
    watch: {
        nodes: function (nodes) {
            this.nodes = nodes;
            this.buildNodesMap();
        }
    },
    mounted() {
        this.buildNodesMap();
    }
}
</script>

<style scoped>

</style>