<template>
    <div>
        <b-card class="mt-1"
                :header-bg-variant="selected === entity.uuid ? 'primary' : 'light'"
                :border-variant="selected === entity.uuid ? 'primary' : 'default'"
                v-if="entity !== null && entity !== undefined">
            <template #header>
                <b-form-checkbox  class="mb-0" :checked="selected === entity.uuid" @change="select">
                    <h6>{{ entity.flora_id }}</h6>
                </b-form-checkbox>
            </template>
            <b-card-body>
                <h6>Classes</h6>
                <ul>
                    <li v-if="entity.hasOwnProperty('classes')" v-for="classType in entity.classes">{{ classType }}</li>
                </ul>
                <h6>Attributes</h6>
                <table>
                    <tbody>
                        <tr v-if="entity.hasOwnProperty('attributes')" v-for="(attributeValues, attributeName) in entity.attributes">
                            <td>{{ attributeName }}</td>
                            <td>
                                <ul>
                                    <li v-for="value in attributeValues">{{ value }}</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </b-card-body>
        </b-card>
    </div>
</template>

<script>
export default {
    name: "CCOMEntityCard",
    props: {
        entity: {},
        selected: {
            default: null
        }
    },
    methods: {
        select(checked) {
            this.$emit('selectUUID', checked ? this.entity.uuid : null);
        }
    }
}
</script>

<style scoped>

</style>
