<template>
    <div>
        <b-button
            @click="submit"
            variant="primary"
            class="mt-1 btn-block"
            :disabled="this.completed || this.isLoading"
            :id="'inference-button-' + inferenceId">
                {{ name }}
        </b-button>
    </div>
</template>

<script>
export default {
    name: "FailureModeInference",
    props: {
        name: {},
        inferenceId: {}
    },
    data() {
        return {
            completed: false,
            isLoading: false
        }
    },
    methods: {
        submit() {
            this.isLoading = true;
            axios.post('/failure-modes/inference/' + this.inferenceId)
            .then((response) => {
                this.$emit('eventLinks', response.data);
                this.completed = true;
            }).catch((error) => {

            }).finally(() => {
                this.isLoading = false;
            });
        }
    }
}
</script>

<style scoped>

</style>