<template>
    <div>
        <div v-if="isLoading">
            <div class="d-flex justify-content-center mb-1">
                <b-spinner style="width: 3rem; height: 3rem;" variant="primary"></b-spinner>
            </div>
            <div class="d-flex justify-content-center mb-3">
                <p>Loading failure modes...</p>
            </div>
        </div>
        <div v-if="!isLoading">
            <CCOMEntityCard :selected="selected" @selectUUID="select" v-for="failureMode in failureModes" v-bind:key="failureMode.uuid" :entity="failureMode">
            </CCOMEntityCard>
        </div>
    </div>
</template>

<script>
import CCOMEntityCard from "./CCOMEntityCard.vue";
export default {
    name: "FailureModesList",
    components: {CCOMEntityCard},
    props: {
        selected: {}
    },
    data() {
        return {
            isLoading: true,
            failureModes: []
        };
    },
    methods: {
        fetchFailureModes() {
            this.isLoading = true;
            axios.get('/failure-modes')
            .then((response) => {
                this.failureModes = response.data.failure_modes;
            }).catch((error) => {

            }).finally(() => {
               this.isLoading = false;
            });
        },
        select(selectedUUID) {
            this.$emit('selectUUID', selectedUUID);
        }
    },
    mounted() {
        this.fetchFailureModes();
    }
}
</script>

<style scoped>

</style>