<template>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">CCOM Ontology Demonstration</a>
        </nav>
        <div class="container-fluid">
            <ontology-graph></ontology-graph>
        </div>
    </div>
</template>

<script>
import OntologyGraph from "./OntologyGraph.vue";

export default {
    name: "MainUI",
    components: {OntologyGraph}
}
</script>

<style scoped>

</style>