<template>
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <div class="ontology-graph-container">
                <div v-if="isLoading" class="mt-3">
                    <div class="d-flex justify-content-center mb-1">
                        <b-spinner style="width: 3rem; height: 3rem;" variant="primary"></b-spinner>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        <p>Loading graph...</p>
                    </div>
                </div>
                <div v-if="iterations < totalIterations">
                    <b-progress
                                class="mt-3"
                                :value="iterations"
                                :max="totalIterations"
                                variant="primary"
                                show-progress
                                animated>
                    </b-progress>
                    <div class="d-flex justify-content-center mb-3">
                        <p>Generating graph...</p>
                    </div>
                </div>
                <div v-show="!isLoadingGraph" id="ontology-graph-network"></div>
                <div v-show="!isLoadingGraph">
                    <b-button @click="togglePhysics"
                              :variant="options.physics.enabled ? 'primary' : 'secondary'">
                        Physics: {{ options.physics.enabled ? 'ON' : 'OFF' }}
                    </b-button>
                    <b-button @click="toggleStabilization"
                              :variant="options.physics.stabilization.enabled ? 'primary' : 'secondary'">
                        Stabilization: {{ options.physics.stabilization.enabled ? 'ON' : 'OFF' }}
                    </b-button>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 sidebar">
            <div class="sticky-sidebar bg-light">
                <div>
                    <b-tabs card>
                        <b-tab title="Entities">
                            <div v-if="isLoading">
                                <div class="d-flex justify-content-center mb-1">
                                    <b-spinner style="width: 3rem; height: 3rem;" variant="primary"></b-spinner>
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                    <p>Loading entities...</p>
                                </div>
                            </div>
                            <div v-if="!isLoading">
                                <CCOMEntityCard @selectUUID="selectUUID" :selected="selectedUUID" v-for="node in nodes" v-bind:key="node.uuid" :entity="node.entity">
                                </CCOMEntityCard>
                            </div>
                        </b-tab>
                        <b-tab title="Connections">
                            <div v-if="isLoading">
                                <div class="d-flex justify-content-center mb-1">
                                    <b-spinner style="width: 3rem; height: 3rem;" variant="primary"></b-spinner>
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                    <p>Loading connections...</p>
                                </div>
                            </div>
                            <div v-if="!isLoading">
                                <CCOMConnectionList @selectUUID="selectUUID" :selected="selectedUUID" :connections="edges" :nodes="nodes"></CCOMConnectionList>
                            </div>
                        </b-tab>
                        <b-tab title="Failure Modes">
                            <h4>Run Failure Mode Propagation Inference</h4>
                            <failure-mode-inference @eventLinks="inferredEventLinkEvent" inference-id="related-taxonomy" name="Common Failure Effects through Type Taxonomy Inference"></failure-mode-inference>
                            <failure-mode-inference @eventLinks="inferredEventLinkEvent" inference-id="related-measurement-location" name="Common Failure Effects through Measurement Location"></failure-mode-inference>

                            <h4 class="mt-2">Failure Modes</h4>
                            <failure-modes-list @selectUUID="selectUUID" :selected="selectedUUID"></failure-modes-list>
                        </b-tab>
                    </b-tabs>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import vis from 'vis-network/dist/vis-network'
import FailureModeInference from "./FailureModeInference.vue";
import FailureModesList from "./FailureModesList.vue";
import CCOMEntityCard from "./CCOMEntityCard.vue";
import CCOMConnectionList from "./CCOMConnectionList.vue";

export default {
    name: "OntologyGraph",
    components: {CCOMConnectionList, CCOMEntityCard, FailureModeInference, FailureModesList},
    data() {
        return {
            nodes: [],
            edges: [],
            selectedUUID: null,
            options: {
                layout: {
                    randomSeed: "0.7247468218538076:1603629822486",
                    improvedLayout: false
                },
                physics: {
                    enabled: true,
                    stabilization: {
                        enabled: true,
                        iterations: 1000,
                        updateInterval: 10
                    },
                    solver: 'barnesHut',
                    barnesHut: {
                        gravitationalConstant: -60000,
                        centralGravity: 0.05,
                        springLength: 100,
                        springConstant: 0.02,
                        damping: 0.09,
                        avoidOverlap: 0.9
                    },
                    maxVelocity: 100,
                    minVelocity: 1,
                    timestep: 0.6
                },
                nodes: {
                    shape: 'box',
                    color: {
                        background: 'yellow',
                        border: 'black',
                        highlight: {
                            border: 'red',
                            background: 'lightblue'
                        }
                    }
                },
                edges: {
                    color: {
                        highlight: 'blue'
                    }
                },
                interaction: {
                    tooltipDelay: 200
                }
            },
            isLoading: false,
            iterations: 0,
            totalIterations: 0
        }
    },
    methods: {
        fetchGraph() {
            this.isLoading = true;
            axios.get('/graph')
            .then((response) => {
                this.nodes = response.data.nodes;
                this.edges = response.data.edges;
                this.graphSetup();
            }).catch((error) => {

            }).finally(() => {
                this.isLoading = false;
            });
        },
        graphSetup() {
            let data = {
                nodes: new vis.DataSet(this.nodes),
                edges: new vis.DataSet(this.edges)
            }
            let container = document.getElementById('ontology-graph-network');
            window.network = new vis.Network(container, data, this.options);
            window.network.on("stabilizationProgress", this.updateStabilizationProgress);
            window.network.on("selectNode", this.selectedNodeOnGraph);
            window.network.on("deselectNode", this.selectedNodeOnGraph);
            container.style.height = Math.round(window.innerHeight * 0.90) + 'px';
        },
        updateStabilizationProgress(event) {
            this.iterations = event.iterations;
            this.totalIterations = event.total;
        },
        togglePhysics() {
            this.options.physics.enabled = !this.options.physics.enabled;
            this.updateOptions();
        },
        toggleStabilization() {
            this.options.physics.stabilization.enabled = !this.options.physics.stabilization.enabled;
            this.updateOptions();
        },
        updateOptions() {
            window.network.setOptions(this.options);
        },
        inferredEventLinkEvent(eventLinks) {
            this.nodes = this.nodes.concat(eventLinks.nodes);
            this.edges = this.edges.concat(eventLinks.edges);

            // Updates the graph with new nodes and edges.
            // Sets of the colours of the nodes/edges so it is obvious where it is added into the graph network.
            eventLinks.nodes.forEach((node) => {
                node.color = {
                    background: 'red',
                    border: 'red'
                }
                node.font = {
                    size: 20,
                    color: 'white'
                }
                window.network.body.data.nodes.add(node);
            });

            eventLinks.edges.forEach((edge) => {
                edge.color = {
                    color: 'red'
                }
                edge.width = 2;
                window.network.body.data.edges.add(edge);
            });
        },
        selectUUID(selectedUUID) {
            this.selectedUUID = selectedUUID;
            if (this.selectedUUID !== null && this.selectedUUID !== undefined) {
                window.network.selectNodes([selectedUUID], true);
            } else {
                window.network.selectNodes([], true);
            }
        },
        selectedNodeOnGraph(event) {
            if (event.nodes.length > 0) {
                this.selectedUUID = event.nodes[0];
            } else {
                this.selectedUUID = null;
            }
        }
    },
    computed: {
        isLoadingGraph: function () {
            return this.isLoading || this.iterations < this.totalIterations;
        }
    },
    mounted() {
        this.fetchGraph();
    }
}
</script>

<style scoped>
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        padding: 56px 0 0;
    }

    .sticky-sidebar {
        position: sticky;
        height: calc(100vh - 56px);
        overflow: hidden;
        overflow-y: auto;
    }

    .ontology-graph-container {
        width: 100%;
        height: 100%;
    }

    .ontology-graph-network {
        height: 100%;
    }
</style>
